<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprendimientos</title>
</head>
<body>
    <h1>Emprendimientos</h1>
    <a href="agregarEmprendimiento">Agregar Emprendimiento</a>
    {% if emprendimientos %}
    
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for emprendimiento in emprendimientos %}
            <tr>
                <td><img src="../../images/{{emprendimiento.imagenEmprendimiento}}" width="200px" height="auto"></td>
                <td>{{emprendimiento.nombreProyecto}}</td>
                <td>{{emprendimiento.detalleEmprendimiento}}</td>
                <td>{{emprendimiento.estadoEmprendimiento}}</td>
                <td><button><a href="actualizarEmprendimiento/{{emprendimiento.id}}">Actualizar</a></button></td>
                <td><button><a href="eliminarEmprendimiento/{{emprendimiento.id}}">Eliminar</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    {% endif %}
</body>
</html>